/* styles.css */

/* Main Container */
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
  }
  
  /* Logo Button */
  .logo-button {
    background: dark-grey;
  }
  

  .log-out-button {
    background: dark-grey;
  }
/* css for button outlines */
.input1 {
  display: flex;
  justify-content: space-between;
  border: .25px solid #3f3f46 ; /* Added border property */
  border-radius: 13px;
  padding: 17px; 
  background-image: linear-gradient(to bottom, #09090b, #09090b);
  backdrop-filter: blur(20px);
}

.my-element {
  display: flex;
  justify-content: space-between;
  border: .25px solid #3f3f46 ; /* Added border property */
  border-radius: 13px;
  padding: 17px; 
  background-image: linear-gradient(to bottom, #0c0a09, #18181b);
  backdrop-filter: blur(20px);
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 13px;
  transition: all 0.2s ease-in;
  background-image: linear-gradient(to bottom, #0c0a09, #18181b);
  position: relative;
  overflow: hidden;
  
  color: white;
  z-index: 1;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-image: linear-gradient(to bottom, #0c0a09, #18181b);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-image: linear-gradient(to bottom, #0c0a09, blue);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid blue }
 
 .button:hover:before {
  top: -35%;
  background-color: blue;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: blue;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }